<button type="button" name="button" (click)="getinfofromService1()">
  Emp1
</button>
<ul class="list-group">
  <li *ngFor="let info; inforecieved1" class="list-group-info">{{ info }}</li>
</ul>

<button type="button" name="button" (click)="getinfofromService2()">
  Emp2
</button>
<ul class="list-group">
  <li *ngFor="let info; inforecieved1" class="list-group-info">{{ info }}</li>
</ul>

<button type="button" name="button" (click)="getinfofromService3()">
  Emp3
</button>
<ul class="list-group">
  <li *ngFor="let info; inforecieved1" class="list-group-info">{{ info }}</li>
</ul>
